<launch>
  <arg name="config" default="$(find gelsight_ros)/utils/rgb_ros1_noetic_config.json" />

  <node
    pkg="gelsight_ros"
    type="get_angle.py"
    name="angle_publisher"
    output="screen" />
  <node
    pkg="gelsight_ros"
    type="vicon_angle.py"
    name="vicon_angle_publisher"
    output="screen" />
  <node
    pkg="gelsight_ros"
    type="calc_error.py"
    name="angle_error_publisher"
    output="screen" />
</launch>
